<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Mi primer documento HTML</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Noto+Sans+JP:wght@300;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <h6>Soy un H6 pero me gusta ser primero</h6>

   <h1>Esta es la familia más linda</h1> 

   <img src="/images/familia.png"alt='foto'>
   <strong>Otro texto strong</strong>

   <h2>Soy un subtitulo</h2>

   <p class="parrafo-destacado">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
       Necessitatibus <strong>Este es un texto strong</strong> quidem voluptates praesentium quo 
       deleniti perferendis, odit totam aut eius delectus facere 
       maiores omnis veniam <em>soy un texto en cursiva</em>officia quibusdam provident tempora 
       animi!</p>

   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
       Vero, rem natus et ullam iure sit, ipsum ad suscipit 
       libero voluptatem qui? Repellat asperiores consequatur 
       quaerat unde magni esse doloremque minima.</p>;

   <ol>
       <li>Item 1</li>
       <li>Item 2</li>
       <li>Item 3</li>
   </ol>
   <ul>
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
   </ul>

   <a href="https://www.google.com">Ir a Google</a>;


</body>
</html>